body{
    margin: 0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

.container{
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-container{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border: 3px solid #212121;
    border-radius: 10px;
    height: auto;
    min-height: 450px;
    width: 400px;
    max-width: 400px;
    background-color: #212121;
}

.form-container{
    width: 100%;
    padding: 20px;
}

.form-container h1{
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin: 30px;
}


.form-container h2{
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.form-content .form-field{
    padding: 10px 15px;
}

.form-field-title{
    display: block;
    font-size: 16px;
    padding-bottom: 6px;
}

.form-field-content{
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: #424242;
    border: 1px solid #686464;
    border-radius: 50px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

.button {
    font-size: 16px;
    width: 100%;
    height: 45px;
    color: #111111;
    font-weight: 600;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.button-loading {
    font-size: 16px;
    width: 100%;
    height: 45px;
    color: #111111;
    font-weight: 600;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}


.login-message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
}

input:focus {
    background-color: #424242;
    outline: none;
    border: 1px solid #f3f3f3;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #424242 inset;
    -webkit-text-fill-color: white;
}
.title{
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
}

.form-field{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.form-field-title{
    width: 100%;
}

.register-link{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    flex-wrap: wrap;
    gap: 5px;
}

.link-text {
    color: #0088ff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}


@media screen and (max-width: 440px) {
    .container {
        padding: 10px;
        align-items: flex-start; 
        padding-top: 40px; 
    }
    
    .login-container{
        height: auto;
        min-height: 400px;
        max-width: 100%;
    }

    .form-container {
        padding: 15px;
    }

    .form-container h1{
        font-size: 20px;
        margin: 15px 0;
    }

    .form-content .form-field{
        padding: 8px 10px;
    }

    .form-field{
        padding: 8px 10px;
    }

    .button-container{
        margin-top: 15px;
        padding: 0 10px;
    }

    .button,
    .button-loading {
        height: 40px;
        font-size: 15px;
    }

    .register-link{
        font-size: 14px;
        margin-top: 15px;
        flex-direction: column; 
        gap: 8px;
    }
}

@media screen and (max-width: 320px) {
    .form-container h1{
        font-size: 18px;
    }
    
    .form-field-content{
        font-size: 14px;
        height: 38px;
    }
    
    .button,
    .button-loading {
        height: 38px;
        font-size: 14px;
    }
}