.channel-sidebar {
    width: 240px;
    background: #1A1A1E;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 1 !important;
}

.channel-sidebar-header {
    padding-left: 15px;
    height: 45px;
    display: flex;
    align-items: center;
}

.title-separator{
    width: 240px;
    height: 2px;
    background: #292828;
    border-radius: 1px;
}

.channel-sidebar-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}

.channel-separator{
    width: 210px;
    height: 2px;
    background: #292828;
    border-radius: 1px;
    margin-bottom: 10px;
}

.channel-sidebar-content {
    padding: 0 15px;
    flex: 1;
}

.channel-category-title {
    color: #8e9297;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

.channel-loading {
    color: #8e9297;
}

.channel-error {
    color: #ed4245;
}

.invite-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-button{
    height: 40px;
    width: 210px;
    margin: 15px;
    border-radius: 10px;
    background-color: #292828;
    border: 1px solid #292828;
    font-size: 14px;
    transition: all 0.2s ease;
}

.invite-button:hover{
    background-color: #3d3c3c;
}


.channel-header{
    display: flex;
    align-items: center;
}

.create-channel-button-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0;
}

.create-channel-btn{
    height: 25px;
    width: 25px;
    border-radius: 10px;
    background-color: #292828;
    border: 1px solid #292828;
    font-size: 14px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-channel-btn:hover{
    background-color: #3d3c3c;
}