body{
    margin: 0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

.container{
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #212121;
    border-radius: 10px;
    height: 550px;
    width: 400px;
    background-color: #212121;
}

.form-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.form-container h1{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-content .form-field{
    padding: 15px;
}

.form-field-title{
    display: block;
    font-size: 16px;
    padding-bottom: 6px;
}

.form-field-content{
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: #424242;
    border: 1px solid #686464;
    border-radius: 50px;
    padding: 10px;
    margin: 0;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.button {
    font-size: 16px;
    width: 100%;
    height: 45px;
    color: #111111;
    font-weight: 600;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.button-loading {
    font-size: 16px;
    width: 100%;
    height: 45px;
    color: #111111;
    font-weight: 600;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.register-message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
}

input:focus {
    background-color: #424242;
    outline: none;
    border: 1px solid #f3f3f3;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #424242 inset;
    -webkit-text-fill-color: white;
}
.title{
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
}

.form-field{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-field-title{
    width: 100%;
}

.login-link{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.link-text {
    color: #0088ff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}



