.home-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #1a1a1b; 
    font-family: sans-serif;
    box-sizing: border-box;
}

.workspace-sidebar{
    position: relative;
    overflow: visible !important;
    height: 100vh;
    width: 6%;
}


.channel_sidebar{
    position: relative;
    overflow: visible !important;
    height: 100vh;
    width: 16%;
    background-color: #1a1a1b;
    border-left: 1px solid #545252;
    border-right: 1px solid #545252;
    border-radius: 5px;
}

.workspace-selection-message {
    width: 240px;
    height: 100vh;
    background-color: #1a1a1b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e9297;
}

.workspace-selection-content {
    text-align: center;
    padding: 20px;
    font-weight: 500;
}



.channel-detail{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-selection-message {
    flex: 1;
    background-color: #1a1a1b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e9297;
}

.channel-selection-content {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    
}
