body{
    background-color: #1A1A1E;
} 

.container-home{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.title-home{
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #29292C;
}

.workspaces-sidebar{
    background-color: #121214;
    width: 400px;
    height: 100vh;
    border-right: 1px solid #29292C;
    display: flex;
    flex-direction: column;
}

.workspaces-list{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.workspaces-container{
    display: flex;
    flex-direction: column;
}

.workspace-card{
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    padding: 10px;
    transition: all 0.1s ease; 
    border-radius: 8px;
}

.workspace-card:hover {
    background-color:#1D1D1E; 
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(31, 31, 31, 0.15);
}

.workspace-info{
    display: flex;
}

.workspace-card h2{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 16px;
}

.workspace-image {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    margin-right: 15px;
}