.home-screen {
    display: flex;
    height: 100vh;
    background: #36393f;
    font-family: sans-serif;
}

.workspace-sidebar, .channel-sidebar{
    position: relative;
    overflow: visible !important;
    height: 100vh;
}

.workspace-selection-message {
    width: 240px;
    height: 100vh;
    background: #1A1A1E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e9297;
}

.workspace-selection-content {
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

.channel-selection-message {
    flex: 1;
    background: #1f1f23;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e9297;
}

.channel-selection-content {
    text-align: center;
    padding: 20px;
}
