.message-container {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    background: #1f1f23;
    overflow: hidden;
    border-left: 1px solid #545252;
    border-right: 1px solid #545252;
    border-radius: 5px;
}

.chat-title {
    background: #1f1f23;
    color: white;
    padding-left: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.chat-title h3 {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.chat-separator{
    width: 100%;
    height: 1px;
    background: #545252;
    border-radius: 1px;
    margin-bottom: 10px;
}

.message-list {
    padding: 20px;
    overflow-y: auto;
    background: #1f1f23;
    flex: 1;
}

.pre-message{
    padding: 20px;
    overflow-y: auto;
    background: #1f1f23;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.message-list p {
    text-align: center;
    color: white;
    font-style: italic;
    margin-top: 400px;
}

.message {
    background: #2e2e33;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 3px solid #8484845b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    max-width: 600px;
    min-width: 200px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.message:hover {
    transform: translateX(2px);
}

.message p {
    color: #ffffff;
    margin: 4px 0;

    text-align: left;
    font-style: normal;
    font-size: 14px;
}

.message small {
    color: #9fa1a2;
    font-size: 11px;
    display: block;
}

.other-message {
    background: #40444b;
    color: #dcddde;
    align-self: flex-start;
    border-bottom-left-radius: 4px;
    margin-right: auto;
}


.own-message {
    background: #3c2976;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 4px;
    margin-left: auto;
}


.message strong {
    display: block;
    font-size: 13px;
    opacity: 0.9;
    font-weight: 600;
    color: #c284e9;
}


.chat-form{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: end;
    padding: 10px 15px 15px 15px;
    background-color: #1f1f23;
    color: white;
    flex-shrink: 0;
}

.chat-input{
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #313133;
    font-size: 14px;
    border: 1px solid rgb(94, 94, 94);
    color: white;

}

.send-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: #313133;
    border: 1px solid rgb(94, 94, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.bi-send{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-list::-webkit-scrollbar {
    width: 6px;
}

.message-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.message-list::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
}

.message-list::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}